html {
  font-weight: 100%;
}


body {
  margin: 0;
  background-color: #b4bf9f;
  font-family: Segoe UI, Calibri, Helvetica, sans-serif;
}


.header-container {
  position: relative;
  height: 96px; width: 100%;
  background-color: #001f00;
  color: #fff;
}

.header {
  width: 1000px; margin: 0 auto;
}


h1 {
  font-size: 1.5rem;
}


.main {
  width: 1000px; margin: 24px auto 48px auto; padding: 48px;
  background-color: #fff;
  box-sizing: border-box;
}

.seance-header {
  font-size: 1rem; font-weight: 600;
  background-color: #66af63;
}

table {
  width: 100%; border-collapse: collapse; margin: 0 auto 24px auto;
}

td {
  border: solid 1px #333; padding: 4px;
}

td:nth-child(2) {
  width: 10%;
}

.right { text-align: right; }
.bold { font-weight: 600; }


.id-seance {
  color: #195916;
}