<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="../css/main.css">
    <title><%= moment(date).format("dddd D MMMM YYYY") %></title>
  </head>
  <body>
    <div class="header-container">
      <div class="header"><div class="apptitle"></div></div>
    </div>
    <div class="main">
      <h1><%= moment(date).format("dddd D MMMM YYYY") %></h1>
      <% if (data.length === 0) { %>
        <div class="seance">Pas de données disponibles pour cette date.</div>
      <% } else { %>


        <table>
          <tr>
            <td class="right">Séances</td>
            <td class="right"><%= data.length %></td>
          </tr>
          <tr>
            <td class="right">Nombre d'entrées</td>
            <td class="right"><%= tickets = _(data).sumBy(d => d.tickets.compte) %></td>
          </tr>
          <tr>
            <td class="right">Moyenne : entrées par séance</td>
            <td class="right"><%= format('# ##0,0', tickets / data.length) %></td>

          </tr>
        </table>




        <% _.forEach(data, function (d) { %>
        <div class="seance">
          <table>
            <tr>
              <td class="seance-header">
                <span class="date"><%= moment(d.date).format("ddd D MMM HH[h]mm") %></span>
                &ndash;
                <span class="salle">Salle <%= d.salle.code %></span>
                <br>
                <span class="title"><%= d.titre %></span>
                <span class="id-seance">(<%= d.idSeance %>)</span>
              </td>
              <td class="seance-header right bold"><%= d.tickets.compte %></td>
            </tr>
            <% _.forEach(d.tickets.tarifCat2, function (v) { %>
            <tr>
              <td class="right"><%= v[0] %></td>
              <td class="right"><%= v[1] %></td>
            </tr>
            <% }); %>
          </table>
        </div>
        <% }); %>
      <% } %>
    </div>
  </body>
</html>