<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="../css/main.css">
    <title><%= moment(date).format("dddd D MMMM YYYY") %></title>
  </head>
  <body>
    <div class="header-container">
      <div class="header"><!-- La Cinémathèque française --></div>
    </div>
    <div class="main">
      <h1><%= moment(date).format("dddd D MMMM YYYY") %></h1>

      <% if (data.length === 0) { %>
        <div class="seance">Aucune séance à cette date.</div>
      <% } else { %>
        <% _.forEach(data, function (d) { %>
        <div class="seance">
          <table>
            <tr>
              <td colspan="2" class="seance-header">
                <span class="date"><%= moment(d.date).format("ddd D MMM HH[h]mm") %></span>
                  <span class="salle"> / Salle <%= d.salle.code %> /</span>
                  <span class="id-seance"> <%= d.idSeance %></span>
              </td>
            </tr>
            <tr>
              <td class="right bold"><%= d.titre %></td>
              <td class="right bold"><%= d.tickets.compte %></td>
            </tr>
            <% _.forEach(d.tickets.tarifCat2, function (v) { %>
            <tr>
              <td class="right"><%= v[0] %></td>
              <td class="right"><%= v[1] %></td>
            </tr>
            <% }); %>
          </table>
        </div>
        <% }); %>
      <% } %>
    </div>
  </body>
</html>