<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Connexion</title>
  </head>
  <body>
    <div class="main">
      <form action="login" method="post">
        <h1>Connexion</h1>
        <label>Utilisateur<input type="text" name="username"></label>
        <label>Mot de passe<input type="password" name="password"></label>
        <input type="submit" value="Connexion">
      </form>
    </div>
  </body>
</html>