<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      width: 700px;
      font-family: Segoe UI, Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #000000;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border: solid 1px #333333;
    }

    td {
      border: solid 1px #333333;
      font-family: Segoe UI, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .right {
      text-align: right;
    }

    .bold {
      font-weight: bold;
    }
    </style>
  </head>
  <body>

    <div class="main">
      <h1><%= moment(date).format("dddd D MMMM YYYY") %></h1>
      <% if (data.length === 0) { %>
        <div class="seance">Pas de données disponibles pour cette date.</div>
      <% } else { %>
        <table>
          <tr>
            <td class="right">Séances</td>
            <td class="right"><%= data.length %></td>
          </tr>
          <tr>
            <td class="right">Nombre d'entrées</td>
            <td class="right"><%= tickets = _(data).sumBy(d => d.tickets.compte) %></td>
          </tr>
          <tr>
            <td class="right">Moyenne : entrées par séance</td>
            <td class="right"><%= format('# ##0,0', tickets / data.length) %></td>
          </tr>
        </table>
        <% _.forEach(data, function (d) { %>
        <div class="seance">
          <table>
            <tr>
              <td colspan="2" class="sub"><%= moment(d.date).format("ddd D MMM HH[h]mm") %> - Salle <%= d.salle.code %></td>
            <tr>
            <tr>
              <td class="seance-header">
                <span class="title"><%= d.titre %></span>
                <!--<span class="id-seance">(<%= d.idSeance %>)</span>-->
              </td>
              <td class="seance-header right bold"><%= d.tickets.compte %></td>
            </tr>
            <% _.forEach(d.tickets.tarifCat2, function (v) { %>
            <tr>
              <td class="right"><%= v[0] %></td>
              <td class="right"><%= v[1] %></td>
            </tr>
            <% }); %>
          </table>
        </div>
        <% }); %>
      <% } %>
    </div>



  </body>
</html>