<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="../css/main.css">
    <title>Fréquentation en salles <%= moment(monthTo).format("YYYY") %></title>
  </head>
  <body>
    <%= partials.header %>
    <div class="main">
      <h1>Fréquentation en salles <%= moment(monthTo).format("YYYY") %></h1>
      <p>(Nombre d'entrées)</p>
      <% if (data.length === 0) { %>
        <div class="seance">Pas de données disponibles.</div>
      <% } else { %>
        <table>
          <tr>
            <th></th>
            <th><%= moment(data[0][0]).format("YYYY") %></th>
            <th><%= moment(data[0][2]).format("YYYY") %></th>
            <th>Évolution <%= moment(data[0][0]).format("YYYY") %> / <%= moment(data[0][2]).format("YYYY") %></th>
          </tr>
          <% _.forEach(data, function (d) { %>
            <tr>
              <td class="center"><%= _.upperFirst(moment(d[0]).format("MMMM")) %></td>
              <td class="right"><%= format("# ###.", d[1]) %></td>
              <td class="right"><%= format("# ###.", d[3]) %></td>
              <td class="right"><%= signed(format("##,#0%", d[4] * 100)) %></td>
            </tr>
          <% }); %>
          <tr>
            <% var s1, s2; %>
            <td class="center">Cumul <%= moment(data[0][0]).format("MMM") %>-<%= moment(_.last(data)[2]).format("MMM") %></td>
            <td class="right"><%= format("# ###.", s1 = _.sumBy(data, "1")) %></td>
            <td class="right"><%= format("# ###.", s2 =_.sumBy(data, "3")) %></td>
            <td class="right"><%= signed(format("##,#0%", ((s1 - s2) / s1) * 100)) %></td>
          </tr>
        </table>
      <% } %>
    </div>
  </body>
</html>